<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blocmetrics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse bg-inverse">
    <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/blocmetrics">BLOCMETRICS</a> -->
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <ul class="nav">
        <li class="nav-link"><%= link_to "BLOCMETRICS", blocmetrics_path %></li>
        <li class="nav-link"><%= link_to "About", about_path %></li>
      </ul>
    <!-- </div> -->
  </nav>
<%= yield %>

</body>
</html>
